server:
port: 8080

spring:
  application:
    name: Nestora
  datasource:
    url: jdbc:postgresql://localhost:5432/Nestora
    username: postgres
    password: Passcode@1997
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
